html {
	font-size: 16px;
}
.start-panel {
	margin-top: 20px;
}
.panel-group {
	margin-bottom: 0px;
}
.panel-title {
	cursor: pointer;
}
.panel-heading {
	width: 350px;
}
td {
	padding-right: 80px;
}
.name {
	color: green;
	text-decoration: none;
}
li {
	font-size: 0.85rem;	
	color: green;
}
li>span {
	font-size: 0.9rem;
	color: red;
}
.end-panel {
	margin-bottom: 20px;
}